<div class="mt-2">
    <SfTab CssClass="e-tab-custom-class">
        <TabItems>
            <TabItem>
                <HeaderTemplate>
                    <img alt="" src="assets/images/tab-items/to-print.png" class="e-image"/>
                    <div class="e-title" style="padding-left:10px">To Print</div>
                </HeaderTemplate>
                <ContentTemplate>
                    <h1>To Print</h1>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>
                    <img alt="" src="assets/images/tab-items/current-medication.png" class="e-image"/>
                    <div class="e-title" style="padding-left:10px">Current</div>
                </HeaderTemplate>
                <ContentTemplate>
                    <h1>Current</h1>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>
                    <img alt="" src="assets/images/tab-items/print-check.png" class="e-image"/>
                    <div class="e-title" style="padding-left:10px">Printed</div>
                </HeaderTemplate>
                <ContentTemplate>
                    <h1>Printed</h1>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>
                    <img alt="" src="assets/images/tab-items/completed-medications.png" class="e-image"/>
                    <div class="e-title" style="padding-left:10px">Completed</div>
                </HeaderTemplate>
                <ContentTemplate>
                    <h1>Completed</h1>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>
                    <img alt="" src="assets/images/tab-items/cancel-drug.png" class="e-image"/>
                    <div class="e-title" style="padding-left:10px">Cancelled</div>
                </HeaderTemplate>
                <ContentTemplate>
                    <h1>Canceled</h1>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>
                    <img alt="" src="assets/images/tab-items/audit.png" class="e-image"/>
                    <div class="e-title" style="padding-left:10px">Audit</div>
                </HeaderTemplate>
                <ContentTemplate>
                    <h1>Audit</h1>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</div>

<style>
    .e-tab-custom-class .e-avatar {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

</style>

@code {

}