<DexDialog>
    <DialogTitle>Consultation Finished</DialogTitle>
    <Content>
        <p>
            Consultation is completed. if you wish to charge the patient Now or Reschedule future appointment, click on below items.
        </p>
        <MudList T="string">
            <MudListItem Text="Charge Patient" />
            <MudListItem Text="Schedule Appointment" />
            <MudListItem Text="Transfer Patient" />
            <MudListItem Text="Add Task" />
        </MudList>
    </Content>
</DexDialog>