label{
    font-weight: bolder;
}
.e-data-form .e-form-label {
    font-weight: bolder!important;
}
.sub-drawer {
    /*background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%) !important;*/
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%)!important;
    color: #ffffff !important;
    width:200px;
}
.vertical-space {
    margin-top: 10px
}
.form-control {
    border-color: #0077B5 !important;
}

.form-select {
    border-color: #0077B5 !important;
}

.white-color {
    color: white !important;
}
.black-color {
    color: #000000 !important;
}

h1:focus {
    outline: none;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.text-bold {
    font-weight: bolder !important;
}

.hr-thin {
    color: #0077B5 !important;
    border: 2px !important;
}

.validation-message {
    color: crimson !important;
    font-weight: bolder;
}

.nav-tabs > li > .nav-link {
    border-color: crimson;
}

.nav-tabs > li > .nav-link.active {
    border-color: #0077B5;
}