label{
    font-weight: bolder;
}
.e-data-form .e-form-label {
    font-weight: bolder!important;
}
.sub-drawer {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%) !important;
    color: #ffffff !important;
    width:600px;
}
.vertical-space {
    margin-top: 2%!important
}
.form-control {
    border-color: #0077B5 !important;
}

.form-select {
    border-color: #0077B5 !important;
}

.white-color {
    color: white !important;
}
.black-color {
    color: #000000 !important;
}

h1:focus {
    outline: none;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.text-bold {
    font-weight: bolder !important;
}

.hr-thin {
    color: #0077B5 !important;
    border: 2px !important;
}

.validation-message {
    color: crimson !important;
    font-weight: bolder;
}

.nav-tabs > li > .nav-link {
    border-color: crimson;
}

.nav-tabs > li > .nav-link.active {
    border-color: #0077B5;
}