.consultation-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/consultation1.png");
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23fluentColorAlert320)' d='M20 24a4 4 0 1 1-8 0a4 4 0 0 1 8 0'/%3E%3Cpath fill='url(%23fluentColorAlert321)' d='M7 13a9 9 0 0 1 18 0v3.807l1.928 4.822A1 1 0 0 1 26 23H6a1 1 0 0 1-.928-1.371L7 16.807z'/%3E%3Cdefs%3E%3ClinearGradient id='fluentColorAlert320' x1='16' x2='16.026' y1='22.857' y2='27.999' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23eb4824'/%3E%3Cstop offset='1' stop-color='%23ffcd0f' stop-opacity='0.988'/%3E%3C/linearGradient%3E%3ClinearGradient id='fluentColorAlert321' x1='24.243' x2='8.48' y1='20.889' y2='5.769' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ff6f47'/%3E%3Cstop offset='1' stop-color='%23ffcd0f'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");*/
    
}
.category-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/category.png");
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23fluentColorAlert320)' d='M20 24a4 4 0 1 1-8 0a4 4 0 0 1 8 0'/%3E%3Cpath fill='url(%23fluentColorAlert321)' d='M7 13a9 9 0 0 1 18 0v3.807l1.928 4.822A1 1 0 0 1 26 23H6a1 1 0 0 1-.928-1.371L7 16.807z'/%3E%3Cdefs%3E%3ClinearGradient id='fluentColorAlert320' x1='16' x2='16.026' y1='22.857' y2='27.999' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23eb4824'/%3E%3Cstop offset='1' stop-color='%23ffcd0f' stop-opacity='0.988'/%3E%3C/linearGradient%3E%3ClinearGradient id='fluentColorAlert321' x1='24.243' x2='8.48' y1='20.889' y2='5.769' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ff6f47'/%3E%3Cstop offset='1' stop-color='%23ffcd0f'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");*/

}
.appointment-type-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/appointment-template.png");
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23fluentColorAlert320)' d='M20 24a4 4 0 1 1-8 0a4 4 0 0 1 8 0'/%3E%3Cpath fill='url(%23fluentColorAlert321)' d='M7 13a9 9 0 0 1 18 0v3.807l1.928 4.822A1 1 0 0 1 26 23H6a1 1 0 0 1-.928-1.371L7 16.807z'/%3E%3Cdefs%3E%3ClinearGradient id='fluentColorAlert320' x1='16' x2='16.026' y1='22.857' y2='27.999' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23eb4824'/%3E%3Cstop offset='1' stop-color='%23ffcd0f' stop-opacity='0.988'/%3E%3C/linearGradient%3E%3ClinearGradient id='fluentColorAlert321' x1='24.243' x2='8.48' y1='20.889' y2='5.769' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ff6f47'/%3E%3Cstop offset='1' stop-color='%23ffcd0f'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");*/

}
.types-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23fluentColorOrg486)' d='M22.748 18v5H15.25a3.75 3.75 0 0 0-3.75 3.75V30H14v-3.25c0-.69.56-1.25 1.25-1.25h17.499c.69 0 1.25.56 1.25 1.25V30h2.5v-3.25a3.75 3.75 0 0 0-3.75-3.75h-7.5v-5z'/%3E%3Cpath fill='url(%23fluentColorOrg480)' d='M22.748 18v5H15.25a3.75 3.75 0 0 0-3.75 3.75V30H14v-3.25c0-.69.56-1.25 1.25-1.25h17.499c.69 0 1.25.56 1.25 1.25V30h2.5v-3.25a3.75 3.75 0 0 0-3.75-3.75h-7.5v-5z'/%3E%3Cpath fill='url(%23fluentColorOrg481)' d='M22.748 18v5H15.25a3.75 3.75 0 0 0-3.75 3.75V30H14v-3.25c0-.69.56-1.25 1.25-1.25h17.499c.69 0 1.25.56 1.25 1.25V30h2.5v-3.25a3.75 3.75 0 0 0-3.75-3.75h-7.5v-5z'/%3E%3Cpath fill='url(%23fluentColorOrg482)' d='M22.748 18v5H15.25a3.75 3.75 0 0 0-3.75 3.75V30H14v-3.25c0-.69.56-1.25 1.25-1.25h17.499c.69 0 1.25.56 1.25 1.25V30h2.5v-3.25a3.75 3.75 0 0 0-3.75-3.75h-7.5v-5z'/%3E%3Cpath fill='url(%23fluentColorOrg483)' d='M20.25 36.496a7.5 7.5 0 1 1-15 0a7.5 7.5 0 0 1 15 0'/%3E%3Cpath fill='url(%23fluentColorOrg484)' d='M42.745 36.5a7.5 7.5 0 1 1-15 0a7.5 7.5 0 0 1 15 0'/%3E%3Cpath fill='url(%23fluentColorOrg485)' d='M31.5 11.484a7.5 7.5 0 1 1-15 0a7.5 7.5 0 0 1 15 0'/%3E%3Cdefs%3E%3CradialGradient id='fluentColorOrg480' cx='0' cy='0' r='1' gradientTransform='matrix(.00172 6.60614 -13.7603 .00358 23.998 14.394)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.636' stop-color='%2370777d'/%3E%3Cstop offset='1' stop-color='%2370777d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='fluentColorOrg481' cx='0' cy='0' r='1' gradientTransform='matrix(0 -5.79959 12.0801 0 12.75 32.8)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.425' stop-color='%2370777d'/%3E%3Cstop offset='1' stop-color='%2370777d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='fluentColorOrg482' cx='0' cy='0' r='1' gradientTransform='matrix(0 -5.77074 12.0196 0 35.208 32.77)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.417' stop-color='%2370777d'/%3E%3Cstop offset='1' stop-color='%2370777d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='fluentColorOrg483' cx='0' cy='0' r='1' gradientTransform='matrix(24.06233 32.65643 -27.96865 20.60822 -3.812 12.277)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.529' stop-color='%231ec8b0'/%3E%3Cstop offset='1' stop-color='%231a7f7c'/%3E%3C/radialGradient%3E%3CradialGradient id='fluentColorOrg484' cx='0' cy='0' r='1' gradientTransform='matrix(24.06233 32.65643 -27.96865 20.60822 18.683 12.281)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.529' stop-color='%237b7bff'/%3E%3Cstop offset='1' stop-color='%234a43cb'/%3E%3C/radialGradient%3E%3CradialGradient id='fluentColorOrg485' cx='0' cy='0' r='1' gradientTransform='matrix(24.06233 32.65643 -27.96865 20.60822 7.438 -12.735)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.529' stop-color='%230fafff'/%3E%3Cstop offset='1' stop-color='%230067bf'/%3E%3C/radialGradient%3E%3ClinearGradient id='fluentColorOrg486' x1='11.499' x2='13.756' y1='18' y2='31.429' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23b9c0c7'/%3E%3Cstop offset='1' stop-color='%2370777d'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}

.other-types {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23fluentColorApps160)' d='M2 4.5A1.5 1.5 0 0 1 3.5 3h3A1.5 1.5 0 0 1 8 4.5V8a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z'/%3E%3Cpath fill='url(%23fluentColorApps161)' d='M11.5 8A1.5 1.5 0 0 1 13 9.5v3a1.5 1.5 0 0 1-1.5 1.5H8a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z'/%3E%3Cpath fill='url(%23fluentColorApps162)' d='M8 13a1 1 0 0 1-1 1H3.5A1.5 1.5 0 0 1 2 12.5V9a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1z'/%3E%3Cpath fill='url(%23fluentColorApps163)' d='M9.69 2.442a1.5 1.5 0 0 1 2.122 0l1.752 1.752a1.5 1.5 0 0 1 0 2.121l-1.75 1.75a1.5 1.5 0 0 1-2.12 0L7.942 6.311a1.5 1.5 0 0 1 0-2.121z'/%3E%3Cdefs%3E%3ClinearGradient id='fluentColorApps160' x1='2' x2='8' y1='3' y2='9' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23b9c0c7'/%3E%3Cstop offset='1' stop-color='%23889096'/%3E%3C/linearGradient%3E%3ClinearGradient id='fluentColorApps161' x1='13' x2='7.429' y1='13.571' y2='8' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2363686e'/%3E%3Cstop offset='1' stop-color='%23889096'/%3E%3C/linearGradient%3E%3ClinearGradient id='fluentColorApps162' x1='2' x2='8' y1='8' y2='11.857' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2355595e'/%3E%3Cstop offset='1' stop-color='%23383b3d'/%3E%3C/linearGradient%3E%3ClinearGradient id='fluentColorApps163' x1='12.898' x2='9.178' y1='7.06' y2='2.471' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232764e7'/%3E%3Cstop offset='1' stop-color='%2336dff1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}

.immunisation-template {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/immunisation-template.png");
}


.admin-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/admin-drug.png");
}
.investigation-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/investigations.png");
}

.investigations-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/investigations.png");
}

.investigation-group-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/research-group.png");
}

.user-task-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/user-task.png");
}


.contact-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/contact.png");
}
.sms-message-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/sms-message.png");
}

.text-message-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/text.png");
}
.telephone-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/telephone.png");
}

.consultation-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/consultation.png");
}

.consultation-notes-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/medical-notes.png");
}

.consultation-immunisation-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/vaccine.png");
}

.consultation-prescription-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/prescription.png");
}

.consultation-investigations-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/investigations.png");
}

.quick-add-patient-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/quick-add-patient.png");
}

.add-patient-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/add-patient.png");
}

.open-patient-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/open-patient.png");
}
.patient-family-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/patient-family.png");
}

.patient-account-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/patietn-account.png");
}

.patient-options-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/options.png");
}
.patient-summary-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/patient-summary.png");
}
.hamburger-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/menu.png");
}
.bell-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/bell.png");
}

.chat-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/chat.png");
}

.task-list-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/task-list.png");
}

.night-mode-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/night.png");
}

.light-mode-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/sun.png");
}

.patient-expected-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/patient-expected.png");
}
.patient-waiting-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/patient-waiting.png");
}
.patient-consultation-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/in-consultation.png");
}
.patient-history-icon {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/patient-history.png");
}
.patient-status-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/patient-status.png");
}
.additional-items-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/additional-item.png");
}

.appointments-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/appointments.png");
}
.new-appointment-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/new-appointment.png");
}

.repeat-appointment-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/recurring-appointment.png");
}

.find-appointment-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/find-appointment.png");
}

.users-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/users.png");
}

.permissions-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/permissions.png");
}

.documents-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/documents.png");
}

.letter-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/letter.png");
}

.sketch-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/sketch.png");
}
.ref-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/reff.png");
}

.document-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/documents.png");
}

.find-patient-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/menu-items/find-patient.png");
}

.wrench-16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23fluentColorWrench160)' d='M11 1a4 4 0 0 0-3.896 4.91l-5.05 5.235a1.986 1.986 0 0 0 2.842 2.774l5.006-5.072a4.003 4.003 0 0 0 5.062-4.382a.5.5 0 0 0-.849-.287L12 6.293L9.707 4l2.115-2.115a.5.5 0 0 0-.287-.85A4 4 0 0 0 11 1'/%3E%3Cdefs%3E%3ClinearGradient id='fluentColorWrench160' x1='6.984' x2='9.394' y1='1.844' y2='14.986' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232bdabe'/%3E%3Cstop offset='1' stop-color='%230067bf'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}