:root {
    --mud-palette-surface: "#fff";
}

.mud-button-filled.mud-button-filled-secondary {
    background-image: linear-gradient(to right, #e53935 0%, #e35d5b 51%, #e53935 100%);
    text-decoration: none !important;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff !important;
    /*box-shadow: 0 0 20px #eee;*/
    border-radius: 10px;
}

.mud-button-filled.mud-button-filled-primary {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
    text-decoration: none !important;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff !important;
    /*box-shadow: 0 0 20px #eee;*/
    border-radius: 10px;
}
.mud-button-filled:disabled {
    color: darkgray;
    box-shadow: none;
    background-image: none!important;
    background-color: grey !important;
}
@media (hover: hover) and (pointer: fine) {
    .mud-button-filled:hover {
        background-position: right center !important;
        color: #fff !important;
        text-decoration: none !important;
    }
}

.mud-input-label-outlined {
    background-color: transparent !important;
}

.mud-fab-primary {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
    text-decoration: none !important;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff !important;
    border-radius: 10px;
    display: block;
}

@media (hover: hover) and (pointer: fine) {
    .mud-fab-primary:hover {
        background-position: right center !important;
        color: #fff !important;
        text-decoration: none !important;
    }
}

@media (hover: hover) and (pointer: fine) {
    .mud-icon-button:hover {
        background-color: gray !important;
        color: white !important;
    }
}


.mud-appbar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%) !important;
    color: #ffffff !important;;
}

.mud-tab:hover {
    color: transparent !important;
}

.mud-list .mud-selected-item {
    background-color: lightslategray !important;
    color: white !important;
}

.mud-list-item-icon {
    color: white !important;
}

.mud-list .mud-list-item-clickable:hover {
    background-color: lightslategray !important;
    color: white !important;
}

.mud-tabs-panels {
    background-color: transparent !important;
}

.mud-tabs-tabbar .mud-tabs-tabbar-inner {
    display: none !important;
}

.mud-tabs {
    width: 90% !important;
    margin-left: 2% !important;
}
