<MudItem md="8" Style="margin-left:auto;margin-right: auto">
    <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <div class="row align-items-center justify-content-center">
                    <MudImage Src="assets/images/large_logo.png" Fluid="true" Width="150"/>
                </div>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <DexProgressBar/>
        </MudCardContent>
        <MudCardActions>
        </MudCardActions>
    </MudCard>
</MudItem>

@code {

}