@using Services.Features.PatientManagement.Dtos
@using Services.Features.PatientManagement.Dtos.Details
@using Shared.Helper
<TabTitle Title="WhatsApp"></TabTitle>
<div class="vertical-space">
    <MudStack>
        <MudItem>
            <PatientAutoComplete PatientList="PatientList" OnChangePatient="ChangePatient"></PatientAutoComplete>

        </MudItem>
        @if (!string.IsNullOrWhiteSpace(_waLink))
        {
            <MudItem md="6">

                <MudButton FullWidth="false" Size="MudSize.Medium" Href="@_waLink" Color="MudColor.Primary" Variant="Variant.Filled" StartIcon="fab fa-whatsapp">Connect Chat</MudButton>
            </MudItem>
        }
        <MudItem>
            @if (!string.IsNullOrWhiteSpace(_mobile))
            {
                <MudButton Disabled="@_processing" OnClick="SendSmsClick" Variant="Variant.Filled" Color="MudColor.Primary" StartIcon="">
                    @if (_processing)
                    {
                        <MudProgressCircular Class="ms-n1 white-color" Size="MudSize.Small" Indeterminate="true"/>
                        <MudText Class="ms-2 white-color">Processing</MudText>
                    }
                    else
                    {
                        <MudText><i class="fas fa-paper-plane"></i> Generate Link</MudText>
                    }
                </MudButton>
            }

        </MudItem>
    </MudStack>
</div>


@code {
    [Parameter] public List<PatientListDto> PatientList { get; set; } = new();
    private bool _processing;
    private string _waLink = "";
    private string _mobile = "";

    private async Task SendSmsClick()
    {
        _processing = true;
        var n = Method.GetMobileFormat(_mobile);
        await Task.Delay(2500);
        _waLink = $"https://wa.me/{n}";
        Snackbar.SuccessMessge("WhatsApp link generated.");
        _processing = false;
    }

    private void ChangePatient(ChangeEventArgs<Guid, PatientListDto> args)
    {
        var patient = args.ItemData;
        if (patient != null)
        {
            _mobile = patient.Mobile;
        }
    }

}