<div class="m-3">
    <TabTitle Title="Forms">
        <ActionButtons>
            <DexSfButton Name="Add Form" Icon="plus.png"/>
            <DexSfButton Name="Print" Icon="printer.png" Disabled="true"/>
            <DexSfButton Name="Edit" Icon="edit.png" Disabled="true"/>
            <DexSfButton Name="Preview" Icon="preview.png" Disabled="true"/>
            <DexSfButton Name="Email" Icon="mail.png" Disabled="true"/>
            <DexSfButton Name="Delete" Icon="delete.png" Disabled="true"/>
        </ActionButtons>
    </TabTitle>
    <DexGrid Height="300px">
        <DexGridColumns>
            <GridColumn Field="Date"/>
            <GridColumn Field="Form"/>
        </DexGridColumns>
    </DexGrid>
</div>

@code {

}