@layout MainLayout
@page "/appointments"
@using Dexterity.Components.Pages.Appointments.Components
@using Dexterity.Components.Pages.Appointments.Components.Recurrence
@using Dexterity.Components.Pages.Appointments.Dialogs
@using Services.Features.PatientManagement.Dtos.Details
@using Services.Features.UserAccounts.Dtos.User

<TopTitleBar Title="Appointments"
             Image="modules/appointment.svg">
</TopTitleBar>

<div class="">
    @if (_loading)
    {
        <CommonLoader/>
    }
    else
    {
        <InnerLayout>
            <NavigationItems>
                <DexMenuItem Text="Appointments" Icon="appointments-icon" Click="@(() => ClickChanged(0))"/>
                <DexMenuItem Text="New Appointment" Icon="new-appointment-icon" Click="@(() => NewAppointment(DateTime.Now))"/>
                <DexMenuItem Text="Recurring Appointments" Icon="repeat-appointment-icon" Click="@(() => ClickChanged(1))"/>
                <DexMenuItem Text="Find Appointments" Icon="find-appointment-icon" Click="@(() => ClickChanged(2))"/>
            </NavigationItems>
            <DexContentTabs>
                    <MudTabs @ref="_tabs">
                        <MudTabPanel Text="">
                            <DexScheduler HealthCares="HealthCares" PatientList="PatientList"/>
                        </MudTabPanel>
                        <MudTabPanel Text="">
                            <RecurringAppointments HealthCares="HealthCares" PatientList="PatientList"/>
                        </MudTabPanel>
                        <MudTabPanel Text="">
                            <FindAppointments/>
                        </MudTabPanel>
                    </MudTabs>
            </DexContentTabs>
        </InnerLayout>
    }

</div>

@code {
    private List<HealthcareDto> HealthCares { get; set; } = new();
    private List<PatientListDto> PatientList { get; set; }
    MudTabs _tabs;

    private bool _loading = false;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        await GetHealthCares();
        await GetPatients();
        _loading = false;
    }

    private void ClickChanged(int tabIndex)
    {
        _tabs.ActivatePanel(tabIndex);
    }

    private async Task GetHealthCares()
    {
        HealthCares = await UnitOfWork.User
            .GetUsersByClinic(ApplicationState.CurrentUser.ClinicId);
    }

    private async Task GetPatients()
    {
        PatientList = await UnitOfWork.Patient.GetPatients();
    }

    private async Task NewAppointment(DateTime dateTime)
    {
        var parameters = new DialogParameters();
        parameters.Add("StartDate", dateTime);
        parameters.Add("PatientList", PatientList);
        parameters.Add("HealthCares", HealthCares);
        parameters.Add("HcpId", ApplicationState.CurrentUser.UserId);
        parameters.Add("PatientId", ApplicationState.SelectedPatientId);
        var options = new DialogOptions() {CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, Position = DialogPosition.Center};
        var dialogResult = await DialogService.ShowAsync<UpsertAppointmentModal>("", parameters, options);
        var result = await dialogResult.Result;
        if (!result.Canceled)
        {
        }
    }

}