<SfGrid DataSource="@DataSource" Width="auto" Height="@Height" Toolbar="@(new List<string>() {"Search"})" AllowPaging="true">
    <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
    <GridTemplates>
        @DexRowTemplate
    </GridTemplates>
    <GridTemplates>
        <EmptyRecordTemplate>
            <span>No records to display. create new one</span>
        </EmptyRecordTemplate>
    </GridTemplates>
    <GridColumns>
        @DexGridColumns
    </GridColumns>
    @DexTemplates
    <SfSpinner @bind-Visible="@Loading">
    </SfSpinner>
</SfGrid>

@code {
    [Parameter] public IEnumerable<object> DataSource { get; set; }
    [Parameter] public bool Loading { get; set; }
    [Parameter] public string Height { get; set; } = "500px";
    [Parameter] public RenderFragment DexGridColumns { get; set; }
    [Parameter] public RenderFragment DexRowTemplate { get; set; }
    [Parameter] public RenderFragment DexTemplates { get; set; }
}