@page "/user-manager"
@using Dexterity.Components.Pages.UserManager.Components
@layout MainLayout

<TopTitleBar Title="User Management"
             Image="modules/users.svg">
</TopTitleBar>
<MudItem md="12" Class="vertical-space">
    <InnerLayout>
        <NavigationItems>
            <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-users" IconColor="MudColor.Info"
                        @onclick="@(() => ClickChanged(0))">
                Users
            </MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-sliders" IconColor="MudColor.Info"
                        @onclick="@(() => ClickChanged(1))">
                Permission
            </MudNavLink>
        </NavigationItems>
        
        <DexContentTabs>
            <div class="d-flex justify-center align-center mt-lg-5">
                <MudTabs @ref="tabs" >
                    <MudTabPanel Text="" >
                        <UserList/>
                    </MudTabPanel>
                    <MudTabPanel Text="">
                        <Permissions/>
                    </MudTabPanel>
                </MudTabs>
            </div>
        </DexContentTabs>
    </InnerLayout>
</MudItem>
@code {
    private bool _open = true;
    MudTabs tabs;
    private void ClickChanged(int tabIndex)
    {
        tabs.ActivatePanel(tabIndex);
    }
    

}